@page "/"
@inject ILogger<Home>         Logger
@inject IJSRuntime            Runtime

<div class="h-100 fixed-vertical-scroll">
    <div class="sticky-top top-0 bg-body pb-2">
        <Card Title="Source">
            <ExtraButtonsFragment>
                <button class="btn btn-sm btn-secondary col-auto" onclick="event.stopPropagation();event.preventDefault();toggleDarkMode();">Toggle dark mode</button>
            </ExtraButtonsFragment>
            <ChildContent>
                <div class="input-group">
                    <span class="input-group-text">Load from file</span>
                    <input type="text" class="form-control" id="logFile" @bind="_logFile" @onkeypress="LogFileKeypress" onkeyup="event.stopPropagation()" disabled="@_loading"/>
                    <button class="btn btn-secondary" @onclick="ShowFileSelect" disabled="@_loading">Browse</button>
                    <button class="btn btn-primary" @onclick="LoadFile" disabled="@_loading">Load</button>
                </div>
                <div class="mb-2 text-center mt-2">or</div>
                <button class="btn btn-primary w-100" @onclick="LoadFromClipboard" disabled="@_loading">Load from clipboard</button>
            </ChildContent>
        </Card>
        <div class="m-2 mb-0">
            <input type="text" id="search" class="form-control" placeholder="Search" @bind="Search" disabled="@_loading"/>
        </div>
    </div>
    <Virtualize TItem="LogEntry" Items="_logs.Where(IsFiltered).ToArray()">
        <div class="p-1" style="@(context.Expanded ? "border: 1px solid black;" : "")">
            <div class="row" style="color: @context.Color;" @onclick="() => context.Expanded = !context.Expanded">
                <div class="col-auto">
                    @context.Timestamp?.ToString("yyyy-MM-dd HH:mm:ss.fff")
                </div>
                <div class="col-auto@(context.IsBold ? " fw-bold" : "")" style="width: 100px;">
                    @context.Level
                </div>
                <div class="col @(context.Expanded ? "" : "ellipsis")">
                    @context.RenderedMessage
                </div>
            </div>
            @if (context.Expanded)
            {
                <hr/>

                @if (context.Exception != null)
                {
                    <div class="w-100" @onclick="() => context.ExceptionExpanded = !context.ExceptionExpanded">
                        <label for="exception" class="fw-bold form-label">Exception</label>
                    </div>
                    @if (context.ExceptionExpanded)
                    {
                        <textarea id="exception" class="w-100" style="border: none; resize: none;" rows="@GetRowCount(context.Exception)" wrap="off" onkeyup="event.stopPropagation()">@context.Exception</textarea>
                    }

                    <hr/>
                }

                <div class="w-100" @onclick="() => context.RawExpanded = !context.RawExpanded">
                    <label for="raw" class="fw-bold form-label">Raw log entry</label>
                </div>
                @if (context.RawExpanded)
                {
                    <textarea id="raw" class="w-100" style="border: none; resize: none;" rows="@GetRowCount(context.Raw)" wrap="off" onkeyup="event.stopPropagation()">@context.Raw</textarea>
                }
            }
        </div>
    </Virtualize>
</div>